@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333; /* Dark gray */
    font-family: 'Merriweather', serif;
  }
  
  h1 {
    font-family: 'Merriweather', serif;
    color: #222; /* Darker gray for emphasis */
  }
  
  /* Header */
  header {
    background-color: #ccc; /* Light gray */
  }
  
  /* Main content */
  main {
    background-color: #e0e0e0; /* Off-white */
    flex: 1 0 auto;
  }
  
  /* Footer */
  #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  #social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #333; /* Dark gray */
  }