@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #333;
  font-family: 'Merriweather', serif;
  width: 100%;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

p {
  font: bold;
}

.page__header {
  margin: 2em auto;
  font-weight: bold;
}

section {
  background-color: #f2f2f2;
  padding: 2.5em;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

section h2,
section h3,
section p {
  padding-bottom: 2em;
}

section img {
  width: 40%;
  /* Makes images fit the width of their container */
  height: auto;
  /* Maintains image aspect ratio */
}

/* Header */
header {
  background-color: #c0a070;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  letter-spacing: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 120%;
  letter-spacing: 4px;
  list-style-type: none;
  padding: 1px;
  text-align: left;


}

#menu>li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

.image-container {
  width: 100%;
  margin: 0 auto;
  /* Centers the container horizontally */
  text-align: center;
  /* Centers the image within the container (optional) */
}


nav#main-nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  /* Adjust width as needed */
  top: 100%;
  /* Positioned below the button */
  left: 0rem;
  /* Aligned to the left of the button */
  height: 0;
  /* Initially hidden */
  overflow: hidden;
  /* Prevent content overflow */
  transition: height 0.3s ease-in-out;
  /* Add smooth transition */
  background-color: #c0a070;
  text-indent: 1rem;
}

/* Navigation menu shown on toggle */
#nav-toggle:checked~nav#main-nav {
  height: auto;
  /* Expand to full content height */
}

/* Navigation toggle button (the label) */
.nav-toggle-label {
  position: absolute;
  /* Positioned absolutely within the header */
  top: 0rem;
  /* Adjust for position relative to header */
  left: 0rem;
  /* Position from the left edge */
  cursor: pointer;
  /* Indicate clickable behavior */
  /* Display the X symbol using pseudo-element */
  content: "X";
  font-size: 2rem;
  /* Adjust font size for a big X */
  color: rgba(0, 0, 0, 0.2);
  /* Same color as header background */
  text-align: center;
  /* Center the X horizontally */
  line-height: 1;
  /* Ensure the X stays centered vertically */
  text-indent: 0;
  padding: 0.5rem 1rem;
  /* Add some padding for aesthetics */
}

/* Remove any styles for a hidden button (optional) */
#nav-toggle {
  display: none;
}

/* Main content */
main {
  background-color: #e8d0b0;
  /* Off-white */
  flex: 1 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu>li :hover {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  /* Maintain original margin */
}



textarea {
  resize: none;
}

/* Footer */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  padding: 5%;
  color: #3a3a3a;
  transition: font-size 0.3s ease-in-out;
}

#social-networks i:hover {
  /* Add your desired hover effects here */
  font-size: 1.1em;
  /* Example: Increase font size on hover */
  color: #c0a070;
  /* Example: Change color on hover */
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
  /* Example: Smooth transition */
}


button[type="submit"] {
  background-color: #333;
  /* Adjust background color */
  color: #fff;
  /* Adjust text color */
  padding: 10px 20px;
  /* Adjust padding */
  border: none;
  /* Remove border */
  border-radius: 5px;
  /* Add rounded corners */
  cursor: pointer;
  /* Indicate clickable behavior */
}

button[type="submit"]:hover {
  background-color: #222;
  /* Adjust hover background color */
}



@media screen and (min-width: 768px) {

  /* Header */
  nav#main-nav {
    display: flex;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    justify-content: flex-end;
    height: auto;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #social-networks i {
    font-size: 1.5em;
    /* Increase icon size on larger screens */
  }
}

@media screen and (max-width: 768px) {
  section img {
    width: 100%;
    /* Makes images fit the width of their container */
    height: auto;
    /* Maintains image aspect ratio */
  }
}