@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #333;
    font-family: 'Merriweather', serif;
}


/* Header */
header {
    background-color: #c0a070; /* Light gray */
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    letter-spacing: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  header a {
    text-decoration: none;
    color: inherit;
}

  #menu {
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

  /* Main content */
  main {
    background-color: #e8d0b0; /* Off-white */
    flex: 1 0 auto;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}